---
import type { HeadlineProps } from "@/types/types";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline,
  classes = {},
  titleAs = "h2",
} = Astro.props as HeadlineProps;

const {
  container = "max-w-2xl",
  title: titleClass = "text-4xl md:text-5xl lg:text-6xl font-extrabold leading-tight tracking-tightest",
  subtitle: subtitleClass = "text-lg md:text-xl leading-relaxed text-muted-foreground mt-4",
  tagline: taglineClass = "text-xs font-bold uppercase tracking-widest text-primary mb-2",
} = classes;

const Title = titleAs as "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
---

{
  (title || subtitle || tagline) && (
    <div class={`mb-16 md:mb-20 ${container} mx-auto text-center`}>
      {tagline && (
        <p
          class={`${taglineClass}`}
          set:html={tagline}
        />
      )}
      {title && (
        <Title
          class={`text-foreground ${titleClass}`}
          set:html={title}
        />
      )}
      {subtitle && (
        <p
          class={`${subtitleClass}`}
          set:html={subtitle}
        />
      )}
    </div>
  )
}
